/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/css/common.css" media="common, projection" rel="stylesheet" type="text/css" /> */
/* line 274, icons/*.png */
.icons-sprite, .icons-index_00, .icons-index_01, .icons-index_02, .icons-index_12, .icons-pic01, .icons-pic02, .icons-pic03, .icons-pic04, .icons-pic05, .icons-pic06, .icons-pic07, .icons-pic08, .icons-pic09, .icons-pic10, .icons-pic11, .icons-pic12, .icons-pic13 {
  background: url('../images/icons-sc545d4d258.png') no-repeat;
}

/* line 60, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-index_00 {
  background-position: 0 -1115px;
  height: 30px;
  width: 25px;
}

/* line 60, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-index_01 {
  background-position: 0 -1079px;
  height: 36px;
  width: 25px;
}

/* line 60, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-index_02 {
  background-position: 0 -903px;
  height: 16px;
  width: 16px;
}

/* line 60, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-index_12 {
  background-position: 0 0;
  height: 23px;
  width: 78px;
}

/* line 60, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-pic01 {
  background-position: 0 -1039px;
  height: 40px;
  width: 40px;
}
/* line 43, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-pic01:hover, .icons-pic01.pic01_hover, .icons-pic01.pic01-hover {
  background-position: 0 -999px;
}

/* line 60, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-pic02 {
  background-position: 0 -143px;
  height: 40px;
  width: 40px;
}
/* line 43, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-pic02:hover, .icons-pic02.pic02_hover, .icons-pic02.pic02-hover {
  background-position: 0 -183px;
}

/* line 60, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-pic03 {
  background-position: 0 -23px;
  height: 40px;
  width: 40px;
}
/* line 43, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-pic03:hover, .icons-pic03.pic03_hover, .icons-pic03.pic03-hover {
  background-position: 0 -63px;
}

/* line 60, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-pic04 {
  background-position: 0 -463px;
  height: 40px;
  width: 40px;
}
/* line 43, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-pic04:hover, .icons-pic04.pic04_hover, .icons-pic04.pic04-hover {
  background-position: 0 -423px;
}

/* line 60, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-pic05 {
  background-position: 0 -823px;
  height: 40px;
  width: 40px;
}
/* line 43, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-pic05:hover, .icons-pic05.pic05_hover, .icons-pic05.pic05-hover {
  background-position: 0 -863px;
}

/* line 60, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-pic06 {
  background-position: 0 -783px;
  height: 40px;
  width: 40px;
}
/* line 43, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-pic06:hover, .icons-pic06.pic06_hover, .icons-pic06.pic06-hover {
  background-position: 0 -743px;
}

/* line 60, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-pic07 {
  background-position: 0 -343px;
  height: 40px;
  width: 40px;
}
/* line 43, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-pic07:hover, .icons-pic07.pic07_hover, .icons-pic07.pic07-hover {
  background-position: 0 -303px;
}

/* line 60, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-pic08 {
  background-position: 0 -543px;
  height: 40px;
  width: 40px;
}
/* line 43, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-pic08:hover, .icons-pic08.pic08_hover, .icons-pic08.pic08-hover {
  background-position: 0 -503px;
}

/* line 60, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-pic09 {
  background-position: 0 -383px;
  height: 40px;
  width: 40px;
}
/* line 43, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-pic09:hover, .icons-pic09.pic09_hover, .icons-pic09.pic09-hover {
  background-position: 0 -263px;
}

/* line 60, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-pic10 {
  background-position: 0 -703px;
  height: 40px;
  width: 40px;
}
/* line 43, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-pic10:hover, .icons-pic10.pic10_hover, .icons-pic10.pic10-hover {
  background-position: 0 -663px;
}

/* line 60, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-pic11 {
  background-position: 0 -223px;
  height: 40px;
  width: 40px;
}
/* line 43, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-pic11:hover, .icons-pic11.pic11_hover, .icons-pic11.pic11-hover {
  background-position: 0 -103px;
}

/* line 60, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-pic12 {
  background-position: 0 -623px;
  height: 40px;
  width: 40px;
}
/* line 43, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-pic12:hover, .icons-pic12.pic12_hover, .icons-pic12.pic12-hover {
  background-position: 0 -583px;
}

/* line 60, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-pic13 {
  background-position: 0 -959px;
  height: 40px;
  width: 40px;
}
/* line 43, d:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-pic13:hover, .icons-pic13.pic13_hover, .icons-pic13.pic13-hover {
  background-position: 0 -919px;
}
