body,html{font-family:"微软雅黑"!important}
html {overflow-y:scroll;}
body {margin:0; padding:0; font:12px"\5B8B\4F53",sans-serif;background:#ffffff;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;}
table,td,tr,th{font-size:12px;}
li{list-style-type:none;}
img{vertical-align:top;border:0;}
ol,ul {list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:12px; font-weight:normal;}
address,cite,code,em,th {font-weight:normal; font-style:normal;}

.w{
    width:1160px;
    margin:0 auto;
    min-width:1200px;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
    color:#1a8af3;
}
.nav-a a.active{
    color:#1a8af3;
}
.nav-a a:hover{
    color:#1a8af3;
}
/* 首页 */
.collapse button{
    border:1px solid #1a8af3;
    color:#1a8af3;
    margin-left:20px;
}
.collapse button:hover{
    border:1px solid #1a8af3;
    background:#1a8af3;
    color:#fff;
}
.navbar{
    border:none;
}
.nav{
    border-bottom:1px solid #ccc;
    box-shadow:0 0 10px #ccc;
}
.nav-lr{
    margin-left:20px;
}
.head_portrait{
    margin-left:100px;
}
.navbar-nav>li>a.head_toggle{
    padding:5px 10px;
}
.nav.head_portrait {
    border-bottom: none;
    box-shadow: none;
}
.head_pimg{
    width:40px;
    height:40px;
    border-radius: 50%;
}
.head_toggle span{
    margin-top:15px;
}
.home-banner{
    width:100%;
    height:400px;
    background: url(../images/home-banner.png) no-repeat;
    background-size:100% 100%;
}
.home-banh2{
    padding-top:110px;
    font-size:48px;
    line-height:48px;
    color:#222;
    text-align:center;
    margin:0;
}
.home-banser{
    width:590px;
    margin:60px auto 0;
}
.home-batnl{
    width:40px;
    height:50px;
    padding:0;
    background:url(../images/home-batnl.png) no-repeat 12px 15px #fff;
    border-right:none;
}
.home-banstxt{
    height:50px;
    border-left:none;
}
.home-batnr{
    width:90px;
    height:50px;
    background: #1a8af3;
    border:none;
    font-size:16px;
    color:#fff;
}
.home-batnr:hover{
    color: #fff;
    background-color: #1a8af3;
    opacity: .9;
}
.home-preterite{
    height:296px;
    margin-top:80px;
    box-shadow:0 0 5px #ccc;
    margin-bottom:100px;
}
.home-pd{
    width:386px;
}
.home-pdh3{
    font-size:16px;
    line-height:16px;
    padding-top:30px;
    text-align:center;
    color:#5c5c5c;
}
.home-pdcont{
    height:200px;
    border-right:1px solid #ddd;
    margin-top:20px;
    padding:0 20px;
}
.home-pdcont span{
    display: inline-block;
    width:170px;
    padding-left:10px;
    font-size:14px;
    line-height:24px;
}
.home-bornone{
    border:none;
}
.home-footer{
    padding-top:24px;
    height:80px;
    background:#2e2e2e;
}
.home-focont p{
    text-align:center;
    font-size:14px;
    line-height:14px;
    color:#ccc;
    margin-bottom:8px;
}

/* 搜索结果 */
.sear-datap {
    line-height: 34px;
    font-size: 14px;
    margin:0;
}
.sear-datanum {
    color: #1a8af3;
    padding: 0 3px;
}
.sear-datanum2 {
    color: #1a8af3;
}
.sear-data{
    margin-top:70px;
}
.sear-data .btn {
    background: #1a8af3;
    color: #fff;
}
.sear-table{
    padding:0 20px;
    min-height:600px;
}
.table>thead>tr>th{
    border-bottom:1px solid #ddd;
}
.table_border{
    border:1px solid #ddd;
}
.sear-table{
    margin-top:20px;
}
.sear_locut{
    margin:50px auto;
    box-shadow:0 0 10px #ccc;
}
.sear-tit{
    height:55px;
    background:#eee;
}
.terms{
    padding:0 20px;
}
.sear-tul li{
    float:left;
    height:55px;
    line-height:55px;
    font-size:16px;
    color:#5c5c5c;
    font-weight: bold;
    padding:0 27px;
    cursor: pointer;
    margin-left:-1px;
}
.sear-tul li.active{
    border:1px solid #ddd;
    border-bottom:none;
    background:#fff;
    color:#1a8af3;
}
.sear-locut{
    padding:0 20px 20px;
}
.interlocu_ul{
    padding:0 20px;
    border:1px solid #ddd;
    border-left:none;
    border-right:none;
}
.interlocu_ul li{
    padding:24px 25px 26px;
    border-bottom:1px dashed #ddd;
    margin-bottom:-1px;
}
.interlocu_uh3{
    font-size:14px;
    line-height:18px;
    color:#5c5c5c;
    margin-bottom:10px;
}
.interlocu_uhi{
    width:16px;
    height:18px;
    background: url(../images/interlocu_uhi.png) no-repeat;
    float:left;
    margin-right:10px;
}
.interlocu_uhis{
    padding:0;
}
.interlocu_up{
    padding-left:25px;
    font-size:12px;
    color:#a0a0a0;
}
.interlocu_page{
    padding:30px 0;
}
/* 词库 */
.Thesaurus-banner {
    width: 100%;
    height: 400px;
    background: url(../images/Thesaurus.png) no-repeat;
    background-size: 100% 100%;
}
.thesaurus-ch{
    padding-top:50px;
    text-align: center;
}
.thesaurus-chbor{
    padding-top:9px;
    border-bottom:1px dashed #1a8af3;
}
.thesaurus-chtxt{
    display:inline-block;
    background:#fff;
    font-size:20px;
    line-height:20px;
    color:#1a8af3;
    position:relative;
    top:-10px;
    padding:0 30px;
    font-weight: bold;
}
.thesaurus-cit{
    font-size:20px;
    line-height:20px;
    color:#1a8af3;
    padding-left:12px;
    border-left:3px solid #1a8af3;
    font-weight: bold;
    margin:30px 0 20px 0;
}
.thesaurus-cont{
    margin-bottom:30px;
}
.theci-top{
    height:56px;
    border-bottom:1px dashed #1a8af3;
    padding:0 20px;
}
.thesaurus-cicul{
    width:1180px;
}
.thesaurus-cicul li{
    width:275px;
    box-shadow:0 0 10px #ccc;
    position: relative;
    margin:0 20px 20px 0;
    float:left;
}
.thesaurus-cicul li:hover .theci-tl{
    color:#1a8af3;
}
.thesaurus-cicul li:hover .theci-bobtn{
    background:#1a8af3;
    color:#fff;
}
.theci-tl{
    font-size:16px;
    line-height:55px;
    color:#5c5c5c;
    font-weight: bold;
}
.theci-tr{
    font-size:14px;
    line-height:55px;
    color:#999;
}
.theci-bot{
    height:110px;
    padding:0 20px;
}
.theci-bobtn{
    width:70px;
    height:32px;
    font-size:14px;
    color:#1a8af3;
    background:#fff;
    border:1px solid #1a8af3;
    margin-top:48px;
}
.theci-botop{
    padding-top:28px;
}
.theci-botopi1{
    margin-right:10px;
    width:19px;
    height:15px;
    background:url(../images/theci-botopi1.png) no-repeat;
}
.theci-botopi2{
    margin-right:10px;
    width:19px;
    height:15px;
    background:url(../images/theci-botopi2.png) no-repeat;
}
.theci-botopd{
    margin-bottom:22px;
    font-size:14px;
    color:#5c5c5c;
}
.l-radius{
    position: absolute;
    left:-5px;
    top:50px;
    width:10px;
    height:10px;
    background:#fff;
    border-radius:50%;
}
.r-radius{
    position: absolute;
    right:-5px;
    top:50px;
    width:10px;
    height:10px;
    background:#fff;
    border-radius:50%;
}

/* 词库详情 */
.sear-word{
    box-shadow:0 0 10px #ccc;
    margin:20px auto 50px;
    padding-top:26px;
}
.sear-word .sear-data{
    margin:0;
    padding:0 20px;
}
.sear-datai{
    width:20px;
    height:20px;
    background:url(../images/sear-datai.png) no-repeat;
    margin:5px 0 0 30px;
    cursor:pointer;
}
.Page{
    text-align: center;
    background:#000;
}
.pagination>li>a, .pagination>li>span{
    color:#1a8af3;
}

/* 会员 */
.member{
    width:1160px;
    height:1072px;
    margin:50px auto;
    box-shadow:0 0 10px #ccd;
    padding-top:100px;
}
.member_h3{
    text-align: center;
    font-size:30px;
    color:#5c5c5c;
    font-weight: bold;
}
.member_cont{
    margin-top:26px;
    padding-left:55px;
}
.member_cut{
    width:350px;
    height:138px;
    line-height:138px;
    font-size:22px;
    color:#5c5c5c;
    text-align: center;
    font-weight: bold;
    background: #fbf8f5;
}
.member_cub{
    width:350px;
    height:552px;
    text-align: center;
    padding-top:50px;
    background: #f3f0ed;
    font-weight: bold;
}
.member_cubtxt{
    font-size:16px;
    line-height:16px;
    text-align: center;
    margin-bottom:50px;
    font-weight: bold;
}
.member_culTit .member_cut{
    border-radius:5px 0 0 0;
}
.member_culTit .member_cub{
    border-radius:0 0 0 5px;
}
.member_culOrd .member_cut{
    background: #fdf3e7;
}
.member_culOrd .member_cub{
    background: #f5ebe0;
}
.member_culTit,.member_culOrd{
    margin-top:54px;
}
.member_culVip .member_cut{
    height:192px;
    background: #efac29;
    border-radius:5px 5px 0 0;
    color:#fff;
}
.member_culVip .member_cub{
    background: #e8a728;
    border-radius:0 0 5px 0;
    color:#fff;
}
.member_culVh4{
    font-size:22px;
    line-height:22px;
    padding-top:58px;
    font-weight: bold;
}
.member_culVd1{
    width:142px;
    height:40px;
    font-size:16px;
    background:#fff;
    color:#efac29;
    margin:30px auto 8px;
    text-align: center;
    line-height: 40px;
    border-radius:20px;
}
.member_culVd2{
    font-size: 14px;
    line-height: 14px;
    margin:0;
}

/* 登录注册 */
.land{
    width:1160px;
    height:835px;
    margin:50px auto;
    box-shadow:0 0 10px #ccc;
    padding-top:140px;
}
.land_h2{
    font-size:30px;
    line-height:30px;
    color:#5c5c5c;
    text-align: center;
    font-weight: bold;
}
.land_cont{
    width:440px;
    margin:38px auto 0;
}
.land_cop{
    color:#e1331c;
    margin-bottom:15px;
}
.land_remember{
    color:#5c5c5c;
    font-size:14px;
}
.land_forget{
    color:#5c5c5c;
    text-decoration:underline;
}
.land_sub{
    width:100%;
    background: #1a8af3;
    color:#fff;
    font-size:14px;
}
.land_cont .form-group{
    margin-bottom:20px;
}
.land_cont .checkbox{
    margin:15px 0;
}
.register_href{
    height:14px;
    padding-top:20px;
    text-align: center;
}
.register_hbor{
    width:320px;
    height:7px;
    margin:0 auto;
    border-bottom:1px dashed #1a8af3;
}
.register_hbtn{
    font-size:14px;
    color:#1a8af3;
    display: inline-block;
    padding:0 22px;
    background:#fff;
    position: relative;
    top:-7px;
}
.form-inline .form-control.verification_inp{
    width:75%;
    border-radius:4px 0 0 4px;
}
.verification_btn{
    width:25%;
    border-radius:0 4px 4px 0;
    background: #1a8af3;
    border:1px solid #1a8af3;
}
.verification_btn:hover{
    background: #1a8af3;
    border:1px solid #1a8af3;
}
.collection-banner{
    background: url(../images/collection-banner.png) no-repeat;
}
.collection-banner .home-banh2{
    padding-top:145px;
}
.collection-cont{
    padding:140px 130px;
}
.collection-cont1{
}
.collection-cd1{
    font-size:16px;
    color:#fff;
    margin-left: 103px;
    padding-top: 8px;
}
.collection-cp1{
    width:100px;
    margin-left: 60px;
    margin-top: 170px;
    font-size:14px;
    line-height:24px;
    color:#fff;
}
.collection-cb{
    margin-top:300px;
}
.collection-cbl{
    width:595px;
    height:295px;
    background:url(../images/collection-cbl.png) no-repeat;
}
.collection-cbr{
    padding-top:16px;
}
.mar_b20{
    margin-bottom:20px;
}
.mar_b50{
    margin-bottom:50px;
}
.collection-cbrh3{
    font-size:20px;
    line-height:20px;
    color:#5c5c5c;
    font-weight: bold;
}
.collection-cbrp{
    font-size:14px;
    color:#999;
    margin-top:16px;
}
.collection-cp0{
    width:204px;
    height:341px;
    background:url(../images/collection-cont1.png) no-repeat;
}

/* 账户设置 */
.accset{
    width:1160px;
    height:1072px;
    margin:50px auto;
    box-shadow:0 0 10px #ccd;
    padding:40px 40px 0;
}
.accset_h2{
    font-size:20px;
    line-height:20px;
    padding:0 0 15px 8px;
    color: #5c5c5c;
    border-bottom:1px dashed #ddd;
    font-weight: bold;
}
.accset_form .form-group .form-control{
    width:350px;
}
.accset_img{
    position: relative;
    width:80px;
    height:80px;
    border-radius:50%;
    overflow: hidden;
}
.accset_img img{
    width:80px;
    height:80px;
    border-radius:50%;
}
.accset_img input {
    position: absolute;
    width: 110px;
    height: 110px;
    left:-30px;
    top:-30px;
    z-index: 2;
    cursor: pointer;
}
.accset_imd{
    width:80px;
    height:37px;
    line-height:30px;
    background: rgba(92,92,92,.3);
    position: absolute;
    bottom:0;
    left:0;
    text-align: center;
    color: #fff;
    z-index: 1;
}
.accset_imp{
    height:80px;
    line-height:80px;
    padding-left:20px;
    font-size:13px;
    color:#999;
}
.accset_imp2{
    height:34px;
    line-height:34px;
    font-size:16px;
    color:#1a8af3;
    font-weight: bold;
    padding-left:14px;
    cursor: pointer;
}
.accset_imp2:hover{
    height:34px;
    line-height:34px;
    font-size:16px;
    color:#1a8af3;
    font-weight: bold;
    padding-left:14px;
}
.accset_form{
    padding-top:64px;
}
.accset_form .form-group{
    margin-bottom:20px;
}
.accset_btn .btn{
    width:100px;
    background: #1a8af3;
    color:#fff;
}
.cur_poi{
    cursor: pointer;
}
.btn-primary {
    color: #fff;
    background-color: #1a8af3;
    border-color: #1a8af3;
}
.btn-primary:hover{
    color: #fff;
    background-color: #1a8af3;
    border-color: #1a8af3;
}
/*新加下拉框样式表start*/
.newadd-select {
	width:122px;
	height:48px;
	position:absolute;
	left:378px;
	top:1px;
	z-index:10;
}
.home-banser {
	position:relative;
}
.newadd-select select{
	width:122px;
	height:48px;
	border:1px solid #ddd;
	font-size:16px;
	line-height:48px;
	color:#5c5c5c;
	text-indent:13px;
}
/*新加下拉框样式表end*/
/* 新加检索列表页边框处 start*/
.newadd_table_biankunag {
	border-collapse:unset;
}
.newadd_table_biankunag>tbody>tr>td {
	border-top:none;
	border-bottom:1px solid #ddd;
}
.newadd_table_biankunag>tbody>tr:last-child>td {
	border-bottom:none;
}
/* 新加检索列表页边框处 end*/
.land_wordp1yk{
	line-height: 30px;
	color: #ff0000;
	margin-top: -14px;
}


.navbar_h1{
    margin-top: 6px;
    width: 211px;
    height: 58px;
    background: url(../images/detail-logo.png) no-repeat;
}
/*新加detail样式*/
.newnavbar {
    height:64px;
    background:#fff;
}
.navbar-brand {
    height: 64px;
    padding: 22px 15px;
}
.collapse button{
    margin-top: 17px;
}
/* 词库页面 */
.theci-tl {
	width:232px;
	text-align:center;
}
.theci-botopd span{
	display:inline-block;
	width:232px;
	text-align:center;
}
.theci-bobtn {
    display: block;
    margin: 59px auto 0;
}
.theci-top {
    border-bottom: 1px dashed #ddd;
}
body{
	background:#f6f6f6;
}
.thesaurus-cicul li {
    background: #fff;
}
.r-radius {
    background: #ececec;
}
.l-radius {
    background: #ececec;
}
.nav {
    background: #fff;
}
.thesaurus-chtxt{
	background:#f6f6f6;
}
.thesaurus-ch-newadd{
	height:30px;
}
/* 挖词页面 */
.newaddwaci-centerbg {
	width:100%;
	background:#fff;
}
.newaddwaci-center-content{
	width:1104px;
	height:420px;
	margin:0px auto 0;
	background:#f6f6f6;
}
.newaddwaci-center{
	float:left;
}
.newaddwaci-center p{
	width:294px;
	font-size:14px;
	line-height:25px;
	color:#5c5c5c;
	padding-top:65px;
	margin-left:34px;
	height:210px;
}
.newaddwaci-center>h2{
	width:368px;
	height:210px;
	background:url(../images/newaddwaci-center1.png) no-repeat 0 0;
	position:relative;
}
.newaddwaci-center>h2>i{
	position:absolute;
	left:176px;
	top:0;
	width:19px;
	height:10px;
	background:url(../images/newaddwaci-center2-trangleb.png) no-repeat 0 0;
}
.newaddwaci-center>h3{
	width:368px;
	height:210px;
	background:url(../images/newaddwaci-center2.png) no-repeat 0 0;
	position:relative;
}
.newaddwaci-center>h3>var{
	position:absolute;
	left:176px;
	bottom:0;
	z-index:10;
	width:19px;
	height:10px;
	background:url(../images/newaddwaci-center2-tranglet.png) no-repeat 0 0;
}
.newaddwaci-center3 h2{
	background:url(../images/newaddwaci-center3.png) no-repeat 0 0;	
}
.newadd-kong{
	width:100%;
	background:#fff;
	height:99px;
}
.newadd-kong1{
	width:100%;
	background:#fff;
	height:100px;
}










