	.box_wzh{width: 100%;	background: url(../images/bac_wzh.png) no-repeat;}
    .cont_wzh{width: 60%;margin:0 auto;padding: 100px 0;}
    .conthead_wzh{text-align: center;}
    .conthead_wzh span{font-weight: 600;font-size: 30px;color: #fff;margin: 0 20px;}
    .conthead_wzh h4{font-size: 16px;color: #fff;    margin-top: 40px;}
    .contcontent_wzh{width: 32%;margin: 0 auto;margin-top:80px;}
    .contcontent_wzh .left_wzh,.contcontent_wzh .right_wzh{font-weight: 600;font-size: 28px;color: #fff;padding-bottom: 20px;cursor: pointer;}
    .left_wzh{float: left;border-bottom: 5px solid #108cee;}
    .right_wzh{float: right;}
    .clear{clear: both;}
    .rightcont_wzh ul,.leftcont_wzh ul{width: 100%;}
    .rightcont_wzh li,.leftcont_wzh li{width: 32%;float:left; position: relative;border:1px solid #999;}
    .rightcont_wzh li img,.leftcont_wzh li img{width:100%;height:392px;float: left;position: relative;}
    .menb_wzh{width: 100%;height: 392px; background: rgba(0,0,0,0.6);position: absolute;left: 0 ;top: 0;	transition: background 1s ease ;/* Safari */-webkit-transition:background 1s ease ;}
    .menb_wzh h3{font-weight: 500;font-size: 28px;color: #fff;text-align: center;margin-top: 50%; transition: margin-top 1s ease ;/* Safari */-webkit-transition:margin-top 1s ease ;}
    .menb_wzh p{width:100%;box-sizing: border-box; font-weight: 300;font-size: 18px;color: #fff;padding:35px 20px;opacity: 0;transition: opacity 1s ease ;/* Safari */-webkit-transition:opacity 1s ease ;}
	.menb_wzh:hover{background: rgba(7,99,173,0.6);}
	.menb_wzh:hover h3{margin-top: 15%;}
	.menb_wzh:hover p{opacity: 1;}
	.guanyu_wzh{  margin-top: 100px;}
	.guanyu_wzh .conthead_wzh span{color: #000;}
	.guanyu_wzh .conthead_wzh h4{color: #999;}
.guanyucont_wzh{width: 100%;height: 874px;margin-top: 100px;}
.guanyutop_wzh{width:60%;margin:0 auto;background: url(../images/AIUI.png) no-repeat;height:500px;background-size: 100% 100%;}
.guanyuleft_wzh{width: 28%;float: left;text-align: right;    margin-top: 40px;}
.guanyuleft_wzh img{float: right;text-align: right;}
.guanyuleft_wzh p{font-size:16px;color:#999;line-height:30px;margin-top:20px; font-weight: 600;}
.guanyuright_wzh{width: 28%;float: right;text-align: left;    margin-top: 40px;}
.guanyuright_wzh img{float:left;}
.guanyuright_wzh p{font-size:16px;color:#999;line-height:30px;margin-top:20px; font-weight: 600;text-align: left;}
.guanyuright_wzh h4{font-size:25px;text-align: left;}
.h4_wzh{width:60%;margin:0 auto;font-size:16px;color:#999;line-height:30px;font-weight:normal;}
.h4_wzh span{    display: inline-block;width: 10px;height:20px;border-left: 5px solid #108cee;     vertical-align: middle;}
#page-footer {
	color: #9b9999;
	background-color: #333
}

#page-footer a {
	color: grey;
}

#page-footer a:hover {
	color: #fff
}

#page-footer .container {
    width: 62%;
    height: 100%;
    background-color: #333;
    position: relative;
    margin: 0 auto;
}

#page-footer .logo {
	position: absolute;
	top: 60px;
	width: 151px;
	height: 55px
}

#page-footer .logo img {
	    width: 117px;
	border: 0 none
}

#page-footer .column,
#page-footer .weixin {
	display: inline-block;
	margin: 0;
	vertical-align: top
}

#page-footer .column dt,
#page-footer .weixin dt {
	margin-top: 18px;
	margin-bottom: 13px;
	font-size: 18px;
	color: #fefefe;
	font-weight: 400;
	line-height: 36px;
	height: 36px
}

#page-footer .column {
	width: 210px
}

#page-footer .column dd {
	line-height: 27px;
	height: 27px
}

#page-footer .column dd a {
	font-size: 14px
}

#page-footer .column dd a .icon {
	display: inline-block;
	margin-right: 3px;
	width: 16px;
	height: 16px;
	vertical-align: sub;
	background: 0 0;
	background: url(../images/sprite_footer.png) no-repeat;
}

#page-footer .weixin img {
	width: 79px;
	height: 70px
}

#page-footer .line {
	margin-top: 16px;
	width: auto;
	height: 1px;
	overflow: hidden;
	background-color: gray
}

#page-footer .copyright,
#page-footer .record {
	margin-top: 13px;
	line-height: 18px;
	height: 18px;
}

#page-footer .info {
	float: left;
	line-height: 18px;
	height: 18px;
	font-size: 14px;
}
.copyright .info2{
	margin-left:402px;
}
.copyright .info3{
	border-left:1px solid #707070;
	height:20px;
	margin:0 20px;
}
#page-footer .info .icon {
	width: 20px;
	height: 18px;
	vertical-align: middle
}

#page-footer .info .weibo {
	margin-left: 5px;
	width: 16px;
	height: 14px;
	vertical-align: middle;
	background: -16px 0
}

#page-footer .info .weibo:hover {
	background: 0 -16px
}
.scroll_toTop {
    position: fixed;
    right: 80px;
    bottom: 60px;
    width: 42px;
    height: 42px;
    background: url(../images/scroll_toTop.png) no-repeat;
    cursor: pointer;
    display: none;
}