@font-face {
  font-family: 'åºžé—¨æ­£é“æ ‡é¢˜ä½“'; 
  src: url('../fonts/åºžé—¨æ­£é“æ ‡é¢˜ä½“.eot');
  src:
    url('../fonts/åºžé—¨æ­£é“æ ‡é¢˜ä½“.woff') format('woff'),
    url('../fonts/åºžé—¨æ­£é“æ ‡é¢˜ä½“.ttf') format('truetype'),
    url('../fonts/åºžé—¨æ­£é“æ ‡é¢˜ä½“.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bodoni 72 Smallcaps Book'; 
  src: url('../fonts/Bodoni 72 Smallcaps Book.eot');
  src:
    url('../fonts/Bodoni 72 Smallcaps Book.woff') format('woff'),
    url('../fonts/Bodoni 72 Smallcaps Book.ttf') format('truetype'),
    url('../fonts/Bodoni 72 Smallcaps Book.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'æ–¹æ­£å…°äº­çº¤é»‘_GBK'; 
  src: url('../fonts/æ–¹æ­£å…°äº­çº¤é»‘_GBK.eot');
  src:
    url('../fonts/æ–¹æ­£å…°äº­çº¤é»‘_GBK.woff') format('woff'),
    url('../fonts/æ–¹æ­£å…°äº­çº¤é»‘_GBK.ttf') format('truetype'),
    url('../fonts/æ–¹æ­£å…°äº­çº¤é»‘_GBK.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'æ–¹æ­£å…°äº­è¶…ç»†é»‘ç®€ä½“'; 
  src: url('../fonts/æ–¹æ­£å…°äº­è¶…ç»†é»‘ç®€ä½“.eot');
  src:
    url('../fonts/æ–¹æ­£å…°äº­è¶…ç»†é»‘ç®€ä½“.woff') format('woff'),
    url('../fonts/æ–¹æ­£å…°äº­è¶…ç»†é»‘ç®€ä½“.ttf') format('truetype'),
    url('../fonts/æ–¹æ­£å…°äº­è¶…ç»†é»‘ç®€ä½“.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'æ–¹æ­£å…°äº­ç»†é»‘_GBK'; 
  src: url('../fonts/æ–¹æ­£å…°äº­ç»†é»‘_GBK.eot');
  src:
    url('../fonts/æ–¹æ­£å…°äº­ç»†é»‘_GBK.woff') format('woff'),
    url('../fonts/æ–¹æ­£å…°äº­ç»†é»‘_GBK.ttf') format('truetype'),
    url('../fonts/æ–¹æ­£å…°äº­ç»†é»‘_GBK.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'æ–¹æ­£å…°äº­ä¸­é»‘_GBK'; 
  src: url('../fonts/æ–¹æ­£å…°äº­ä¸­é»‘_GBK.eot');
  src:
    url('../fonts/æ–¹æ­£å…°äº­ä¸­é»‘_GBK.woff') format('woff'),
    url('../fonts/æ–¹æ­£å…°äº­ä¸­é»‘_GBK.ttf') format('truetype'),
    url('../fonts/æ–¹æ­£å…°äº­ä¸­é»‘_GBK.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PingFang_Medium'; 
  src: url('../fonts/PingFang_Medium.eot');
  src:
    url('../fonts/PingFang_Medium.woff') format('woff'),
    url('../fonts/PingFang_Medium.ttf') format('truetype'),
    url('../fonts/PingFang_Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PingFang_Regular'; 
  src: url('../fonts/PingFang_Regular.eot');
  src:
    url('../fonts/PingFang_Regular.woff') format('woff'),
    url('../fonts/PingFang_Regular.ttf') format('truetype'),
    url('../fonts/PingFang_Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PingFang_Heavy'; 
  src: url('../fonts/PingFang_Heavy.eot');
  src:
    url('../fonts/PingFang_Heavy.woff') format('woff'),
    url('../fonts/PingFang_Heavy.ttf') format('truetype'),
    url('../fonts/PingFang_Heavy.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PingFang Bold'; 
  src: url('../fonts/PingFang Bold.eot');
  src:
    url('../fonts/PingFang Bold.woff') format('woff'),
    url('../fonts/PingFang Bold.ttf') format('truetype'),
    url('../fonts/PingFang Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'æ—¶å°šä¸­é»‘ç®€ä½“'; 
  src: url('../fonts/æ—¶å°šä¸­é»‘ç®€ä½“.eot');
  src:
    url('../fonts/æ—¶å°šä¸­é»‘ç®€ä½“.woff') format('woff'),
    url('../fonts/æ—¶å°šä¸­é»‘ç®€ä½“.ttf') format('truetype'),
    url('../fonts/æ—¶å°šä¸­é»‘ç®€ä½“.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bsb{
  font-family: "Bodoni 72 Smallcaps Book";
}

.pmzd{
  font-family: "åºžé—¨æ­£é“æ ‡é¢˜ä½“";
}

.fzq{
  font-family: "æ–¹æ­£å…°äº­çº¤é»‘_GBK";
}

.fzc{
  font-family: "æ–¹æ­£å…°äº­è¶…ç»†é»‘ç®€ä½“";
}
  
.fzx{
  font-family: "æ–¹æ­£å…°äº­ç»†é»‘_GBK";
}

.fzz{
  font-family: "æ–¹æ­£å…°äº­ä¸­é»‘_GBK";
}

.pfc{
  font-family: "PingFang_Medium";
}

.pfx{
  font-family: "PingFang_Regular";
}

.pfcc{
  font-family: "PingFang_Heavy";
}

.pfzc{
  font-family: "PingFang Bold";
}

.ssz{
  font-family: "æ—¶å°šä¸­é»‘ç®€ä½“";
}

.glyphicon-menu-hamburger:before {
  content: "\e236";
}

